@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.3px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 150px;
}

.link {
  padding: 0 20px;
  text-decoration: none;
  color: #1b507e;
  font-size: 16px;
  text-align: center;
}

.logo {
  margin-left: 150px;
}
.nav-bar {
  display: none;
  background: transparent;
  border: 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
  background: #cffcff;
}
.close-bar {
  display: none;
  position: fixed;
  top: 25px;
  right: 0;
  border: 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
  background: #cffcff;
  z-index: 50;
  opacity: 1;
  z-index: 50;
}
.get-started {
  background-color: #ffeaca;
  border-radius: 16px;
  text-align: center;
  padding: 20px;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .nav-links,
  .logo {
    margin-right: 0;
    margin-left: 20px;
  }

  .nav-bar,
  .close-bar {
    display: block;
    margin-right: 20px;
  }
  .nav-links {
    display: none;
  }
}

.mobile-nav.active {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #002444;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100vh;
  z-index: 40;
  transition: left 0.3s ease-in;
}
.mobile-nav {
  position: absolute;
  color: #fff;
  top: -100%;
  left: -100%;
  opacity: 0;
}
.mobile-links {
  margin: 60px;
  list-style: none;
}
.link-mobile {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

@media screen and (min-width: 1000px) {
  .mobile-nav.active {
    display: none;
  }
}

/* Secone */
.secone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 200px;
}

.secone-right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
}

.header {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  color: #002444;
}

.text {
  font-size: 1.7rem;
  text-align: center;
  color: #002444;
  font-weight: 100;
}

.download {
  display: flex;
  flex-direction: row;
}

.google-play {
  margin: 10px;
}

.secone-left {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sell-img {
  width: 85%;
}

.gift-card {
  color: #1b507e;
}

.underline {
  position: absolute;
  top: 60px;
  left: 25%;
  margin: 1rem auto, 0 auto;
}

@media screen and (max-width: 700px) {
  .underline {
    position: absolute;
    top: 110px;
    left: 15%;
    margin: 1rem auto, 0 auto;
  }
}

@media screen and (max-width: 1300px) {
  .secone {
    margin: 100px;
  }

  .header {
    font-size: 3.2rem;
  }

  .text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .secone {
    margin: 60px;
  }

  .header {
    font-size: 3.2rem;
  }

  .text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 900px) {
  .secone {
    display: flex;
    flex-direction: column;
    margin: 50px 40px;
    justify-content: center;
    align-items: center;
  }

  .sell-img {
    width: 75%;
  }

  .header {
    font-size: 2.9rem;
  }

  .text {
    font-size: 1.3rem;
  }

  .download {
    display: flex;
    flex-direction: column;
  }
}

/* SECTWO */
.sectwo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment {
  position: relative;
  width: 270px;
  background: #fff;
  color: rgb(0, 36, 68);
  border-radius: 2rem;
  margin: 10px;
  text-align: left;
  height: 270px;
  padding: 50px 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 10px 24px 54px;
}

.payment:nth-child(2) {
  background: rgb(0, 36, 68);
  color: #fff;
}

.payment:last-child {
  background: rgb(0, 36, 68);
  color: #fff;
}

.payment::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: linear-gradient(137.76deg, #fff 18.03%, hsla(0, 0%, 100%, 0) 92.51%);
  opacity: 0.2;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  transition: all 0.5s ease-out 0.2s;
  transform: translate(-90px, 90px);
}

.payment::after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(137.76deg, #fff 18.03%, hsla(0, 0%, 100%, 0) 92.51%);
  opacity: 0.2;
  border-radius: 50%;
  transition: all 0.5s ease-in 0.2s;
  transform: translate(90px, -90px);
}

.payment:hover::before {
  opacity: 0.2;
  transform: translate(-20px, 20px);
}

.payment:hover::after {
  opacity: 0.2;
  transform: translate(20px, -20px);
}

.payment:hover {
  background: rgb(0, 36, 68);
  color: #fff;
  transition: all 1s ease-in;
}

.payment:nth-child(2):hover {
  background: #fff;
  color: rgb(0, 36, 68);
  transition: all 1s ease-in;
}

.payment:last-child:hover {
  background: #fff;
  color: rgb(0, 36, 68);
  transition: all 1s ease-in;
}

.instant {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

.instant-text {
  color: rgb(125, 138, 162);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: lighter;
}

@media screen and (max-width: 850px) {
  .sectwo {
    display: flex;
    flex-direction: column;
  }

  .payment {
    width: 350px;
    height: 250px;
  }

  .instant-text {
    font-weight: 400;
  }
}
@media screen and (max-width: 300px) {
  .payment {
      width: 250px;
      height: 270px;
    }
}

.register {
  padding: 20px;
  text-align: center;
  color: rgb(0, 36, 68);
  font-weight: 600;
  background-color: rgb(240, 240, 240);
  max-width: 170px;
  margin: 0 auto;
  border-radius: 10px;
}

/* SECTION THREE */
.no-wastage {
  background-color: #00cede;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.section-three {
  margin: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.waste-underline {
  position: absolute;
  top: 140px;
  background-color: transparent;
  left: 5%;
  margin: 1rem auto, 0 auto;
  z-index: 999;
}

@media screen and (max-width: 1000px) {
  .waste-underline {
    position: absolute;
    top: 170px;
    left: 2%;
    margin: 1rem auto, 0 auto;
  }
}

@media screen and (max-width: 870px) {
  .waste-underline {
    position: absolute;
    top: 270px;
    left: 2%;
    margin: 1rem auto, 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .waste-underline {
    position: absolute;
    top: 45px;
    left: 2%;
    margin: 1rem auto, 0 auto;
  }
}

.secthree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.waste-title {
  width: 100%;
  max-width: 430px;
  font-size: 3.7rem;
  color: #fff;
}

.waste-line {
  width: 1px;
  height: 250px;
  background: #757575;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 70px;
}

.no-waste {
  margin: 10px 0px;
  color: rgb(27, 80, 126);
  max-width: 350px;
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  .waste-title {
    font-size: 2.3rem;
    max-width: 570px;
  }


}

@media screen and (max-width: 800px) {
  .section-three {
    margin: 0 10px;
  }

  .secthree {
    display: flex;
    flex-direction: column;
  }

  .waste-title {
    font-size: 2rem;
    max-width: 570px;
  }

  .waste-line {
    display: none;
  }

  .texts {
    margin-left: 0;
  }

  .no-waste {
    max-width: 570px;
  }
}

/* Slider */
.position {
  position: relative;
}

.slider-container {
  width: 700px;
  position: relative;
  margin: auto;
  padding: 30px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #1b507e;
  cursor: grab;
  width: 600px;
  padding: 10px;
  height: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
}

@media screen and (max-width: 500px) {
  .slider {
    width: 100%;
    height: 330px;
  }
  .slider-container{
    width: 320px;
    padding: 0;
  }
  
}
@media screen and (max-width: 700px) {
  .slider {
    width: 100%;
    height: 330px;
  }

  .slider-container {
    width: 380px;
    padding: 0;
  }

}
@media screen and (max-width: 300px) {
  .slider-container {
      width: 250px;
      height: 400px;
  }
}


.icon-heading {
  text-align: center;
  font-size: 27px;
  padding: 10px;
  margin-top: 10px;
}

.icon-text {
  text-align: center;
  font-size: 18px;
  color: #1b507e;
  max-width: 400px;
  padding: 10px;
}

.icon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.frontNavigate {
  position: absolute;
  top: 50%;
  right: -40px;
  color: #fff;
  padding: 10px;
  width: 45px;
  cursor: pointer;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 24px 54px;
  border: 0;
}

.backNavigate {
  position: absolute;
  top: 50%;
  left: -40px;
  padding: 10px;
  width: 45px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 24px 54px;
  border: 0;
}

@media screen and (max-width: 800px) {
  .btn-container {
    display: none;
  }
}